* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.header{
    background: #000;
}
    .menu{
        background: ;
    }
        .logo{
            background: ;
        }
        .nav{
            background: ;
        }
        .social{
            background: ;
    }

.section{
    background: #000;
}

.footer{
    background: #000;
}